@font-face {
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/oswald/Oswald-Bold.woff2');
  font-family: 'Oswald';
}

@font-face {
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/lato/Lato-Regular.woff2');
  font-family: 'lato';
}

:root {
  /* COLORS */
  --midnight: #240a39;
  --royal-purple: #680cab;
  --neon-pink: #ff0090;
  --light-pink: #ffd6ff;
  --black: #0d0d0d;
  --white: #ffffff;

  /* TYPOGRAPHY */
  --lato-font: 'lato', sans-serif;
  --oswald-font: 'Oswald', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--midnight);
  min-height: 100vh;
  overflow-x: hidden;
  color: var(--white);
  font-family: var(--lato-font);
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding: 0 40px;
  max-width: 1200px;
}

@media (max-width: 768px) {
  .container {
    padding: 0 20px;
  }
}
